@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    string[] test_arr = { "test1" };//Request.Form["0"] = "test";
}
<ul>
    @for (int i = 0; i < 1; i++)
    {
        <li>@test_arr[i]</li>
    }
</ul>
 


<h1>Input</h1>
    
<form method="get" asp-action="Index Model">
    Input box: <br />
    <input type="text" name="VarName" />
    <input type="submit" value="Submit" class="submit" />
</form>
